---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.svelte";
import AudioPlayer from "../components/AudioPlayer.svelte";
---

<Layout title="Welcome to LofiKit.">
  <main>
    <div
      class="flex justify-center transition-all ease-in-out duration-300 flex-col"
    >
      <AudioPlayer client:only="svelte" />
      <script is:inline src="/assets/moveBox.js"></script>
    </div>
  </main>
</Layout>
