---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/fonts/cabinet-grotesk.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black">
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "CabinetGrotesk-Variable", system-ui, sans-serif;
    font-weight: 500;
    background-color: #f6f6f6;
  }
</style>
